# FontAwesome Pro registry. Token vive en .env (gitignored).
# Para que `npm install` lo lea, exporta antes:
#   export FONTAWESOME_NPM_AUTH_TOKEN=$(grep -E '^FONTAWESOME_NPM_AUTH_TOKEN=' .env | cut -d= -f2)
# o usa direnv/dotenv.
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}

legacy-peer-deps=true
